# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Zapisy dźwiękowe
data/features/
data/raw

# Duże pliki binarne
*.7z
*.ckpt
ml_service/vggish/vggish_model.ckpt